body {
    font-family: Arial;
    background: yellow;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;}

.box {
    display: block;
    margin: 20px;
    padding: 10px;
    border: solid;
    border-radius: 0;
    border-color: black;
    width: 20%;
}

a:hover {
font-weight: bold;
color: purple;
}

span {
    color: blue;
    font-weight: bold;
}

#box1 {
    background: teal;
}

#box2 {
        background: pink;
}

#box3 {
    background: purple;
}

#box4 {
    background: red;
}

.image {
    width: 150px;
    height: 150px;
    background: green;
    display: inline;
    position: relative;

}

h1 {
    color: blue;
}

.OGshows {
    color: red;
}

.2ndshows {
    color: purple;
}

#rank1 {
    color: green;
}

#rank2 {
    color: white;
}

#rank3 {
    color: teal;
}

#rank4 {
    color: black;
}

#rank5 {
    color: blue;
}